* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
* :focus, * :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  overflow: hidden;
}

header {
  width: 100%;
  height: 70px;
}

.wrapper {
  min-height: 100dvh;
}
.wrapper .menu {
  height: 600px !important;
  padding: 0;
  transition: 1.5s ease-in;
}
.wrapper .menu .main-row {
  height: 100%;
  width: 100%;
}
.wrapper .menu .main-row .main-col-4 {
  height: 300px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wrapper .menu .main-row .main-col-4 h1 {
  font-size: 13rem;
}
.wrapper .menu .main-row .main-col-4 button {
  width: 250px;
  height: 65px;
  font-size: 2.4rem;
  filter: opacity(70%);
  transition: all 0.45s ease;
  background: linear-gradient(to left, #a8ff78, #78ffd6);
}
.wrapper .menu .main-row .main-col-4 button:hover {
  filter: opacity(100%);
  transform: translateY(-1px);
  box-shadow: 0px 18px 57px -12px rgba(34, 60, 80, 0.6);
}

.background-unclick {
  width: 100dvw;
  height: 100dvh;
  filter: opacity(60%);
  z-index: 999;
}

.choose-avatar-menu {
  height: 350px;
  width: 500px;
  border-radius: 1.6rem;
  z-index: 1000;
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
.choose-avatar-menu .avatars {
  height: 200px;
  min-width: 200px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.choose-avatar-menu .avatars .choose-avatar {
  filter: opacity(70%);
  transition: all 0.45s ease;
}
.choose-avatar-menu .avatars .choose-avatar:hover {
  cursor: pointer;
  filter: opacity(100%);
  transform: translateY(-3px);
}

.alert-menu {
  display: none !important;
}

.game-main {
  width: 100%;
  height: 70dvh;
  transition: transform 1.6s ease-in-out;
  transform: translateX(140%);
}
.game-main .info-bar {
  height: 120px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #c95252;
}
.game-main .info-bar .current-number {
  border: 8px solid #919191;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  background-color: #e6eec7;
  color: #c95252;
}
.game-main .info-bar .score {
  position: relative;
}
.game-main .info-bar .score span::after {
  content: "";
  position: absolute;
  background-color: #ff8c3f;
  height: 8px;
  width: 26%;
  left: 0;
  bottom: 0;
  border-radius: 16px;
}
.game-main .ticket {
  padding: 10px;
  background-color: #c9c9c9;
  border-radius: 8px;
  width: 100%;
  height: 400px;
  grid-template: repeat(3, 1fr)/repeat(9, 1fr);
}
.game-main .ticket .number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  background-color: #f4ffff;
  border: 1px solid #252525;
  transition: 0.25s ease;
}
.game-main .ticket .number-box:hover {
  cursor: pointer;
  background-color: #aaaaaa;
  box-shadow: 0px 0px rgba(156, 184, 184, 0.1960784314) px rgba(233, 250, 250, 0.3);
}

.range-text {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.active {
  background-color: #8cff5f !important;
}

.checked {
  pointer-events: none;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */